.backdrop {
    position: relative;
    background-color: white;
    height: 1000px;
  
  
  
    overflow: hidden;
  }
  
  .backdrop__circle:nth-of-type(1) {
    position: absolute;
  
    background: radial-gradient(
      50% 50% at 50% 50%,
      rgba(144, 118, 192, 0.3) 0%,
      rgba(144, 118, 192, 0) 100%
    );
    transform: rotate(-11.75deg);
  
    top: 60%;
    left: -27%;
  
    height: 85vw;
    width: 85vw;
  
    z-index: 1;
  }
  
  .backdrop__circle:nth-of-type(2) {
    position: absolute;
  
    background: radial-gradient(
      50% 50% at 50% 50%,
      #ffa8a7 0%,
      rgba(255, 168, 167, 0) 100%
    );
    transform: rotate(-11.75deg);
  
    top: 1%;
    left: -63%;
  
    height: 85vw;
    width: 85vw;
  }
  
  .backdrop__circle:nth-of-type(3) {
    position: absolute;
  
    background: radial-gradient(
      50% 50% at 47.7% 49.11%,
      rgba(61, 101, 216, 0.3) 0%,
      rgba(61, 101, 216, 0) 89.06%
    );
    transform: rotate(-11.75deg);
  
    top: -68%;
    left: -3%;
  
    height: 85vw;
    width: 85vw;
  }
  
  .backdrop__circle:nth-of-type(4) {
    position: absolute;
  
    background: radial-gradient(
      50% 50% at 50% 50%,
      rgba(255, 168, 167, 0.3) 0%,
      rgba(255, 168, 167, 0) 100%
    );
  
    transform: rotate(-11.75deg);
  
    top: -75%;
    left: 37%;
  
    height: 85vw;
    width: 85vw;
  }
  
  .backdrop__circle:nth-of-type(5) {
    position: absolute;
  
    background: radial-gradient(
      50% 50% at 50% 50%,
      #9076c0 0%,
      rgba(144, 118, 192, 0) 100%
    );
    transform: rotate(-11.75deg);
  
    top: -61%;
    left: 70%;
  
    height: 85vw;
    width: 85vw;
  }
  
  .backdrop__circle:nth-of-type(6) {
    position: absolute;
  
    background: radial-gradient(
      50% 50% at 50% 50%,
      rgba(61, 101, 216, 0.8) 0%,
      rgba(61, 101, 216, 0) 100%
    );
    transform: rotate(-11.75deg);
  
    top: 58%;
    left: -60%;
  
    height: 85vw;
    width: 85vw;
  }
  
  .backdrop__circle:nth-of-type(7) {
    position: absolute;
  
    background: radial-gradient(
      50% 50% at 47.7% 49.11%,
      rgba(61, 101, 216, 0.5) 0%,
      rgba(61, 101, 216, 0) 89.06%
    );
    transform: rotate(-11.75deg);
  
    top: 36%;
    left: 42%;
  
    height: 85vw;
    width: 85vw;
  }
  
  .backdrop__content {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
  
      display: flex;
      justify-content: space-between;
  }
  