.form__control {
    display: flex;
    flex-direction: column;
    position: relative;
  
    width: 100%;
  }
  
  .form__label {
    font-size: 0.85rem;
    margin-bottom: 0.6rem;
  }

  .form__group {
    background: rgba(41, 90, 87, 0.1);
    border-radius: 0.75rem;
    display: flex;
    align-items: center;
    
  }

  .form__group:focus,
  .form__group:focus-visible {
    outline: none;
  }
  
  .form__input-text {
    background: none;
    width: 100%;
  
    border: none;
    padding: 0.7rem 2rem;
  
    font-size: 1rem;
    font-family: "Inter", sans-serif;
    z-index: 2;
  
    
  }
  
  .form__input-text:focus,
  .form__input-text:focus-visible {
    border: none;
    outline: none;
  }
  
  .form__error {
    font-size: 0.7rem;
    letter-spacing: -0.05em;
    margin-top: 0.15rem;
  
    color: #cc4037;
  }
  