.form__control {
  display: flex;
  flex-direction: column;
  position: relative;

  width: 100%;
}

.form__label {
  font-size: 0.85rem;
  margin-bottom: 0.6rem;
}

.form__error {
  font-size: 0.7rem;
  letter-spacing: -0.05em;
  margin-top: 0.15rem;

  color: #cc4037;
}
