.choice__radio {
    grid-area: radiobutton;
    display: flex;
    position: relative;
}

.choice__radio--check {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}