.grade {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.grade--label {
  color: var(--primary);
  margin: 0;
}

.grade--course {
  position: relative;
}

.grade--number {
  font-weight: 700;
  font-size: 3rem;
  margin: 0.5rem 0;
}
