.response-form {
  z-index: 2;
  padding: 5rem 10rem;

  background-color: white;
  width: 100%;

  display: flex;
  flex-direction: column;

  gap: 2.5rem;
}

.response-form__heading {
  font-size: 2.4rem;
  margin: 0;
}

.form {
  display: flex;
  flex-direction: column;

  gap: 1rem;
}

.form__input--wrapper {
  background: none;
  border: none;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.form__input--wrapper::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 2px;
  background-color: var(--primary);

  transform: scaleX(0);
  transition: transform 500ms ease-in-out;
  transform-origin: left;
}

.form__input--wrapper:focus-within::before {
  transform: scaleX(100%);
}

.form__input {
  width: 100%;
  background: #f6f6f6;

  font-family: "Inter", sans-serif;
  font-size: 1.1rem;
  padding: 0.5rem 1rem;
  border: none;
  outline: none;
}

.form__input--label {
  font-size: 0.8rem;
  color: var(--secondary);
  margin: 0;
}

.form--div {
  display: flex;
  justify-content: space-between;
}

.form__error {
  font-size: 0.7rem;
  letter-spacing: -0.05em;
  margin-top: 0.15rem;

  color: #cc4037;
}

.form--divider {
  width: 80%;
  height: 2px;
  background-color: var(--secondary);

  align-self: center;

  border-radius: 2rem;
  margin: 1.5rem 0;
}
